<p id="notice"><%= notice %></p>

<p>
  <strong>Seccion:</strong>
  <%= @library.seccion %>
</p>

<p>
  <strong>Book:</strong>
  <%= @library.book %>
</p>

<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>
